@import "../../styles/variables.scss";
header {
    position: fixed;
    top: 0;
    height: $header-height;
    width: 100%;
    background-color: $darken;
    box-shadow: 0 4px 0 0 rgba(29, 29, 29, .5);
    ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
        height: 100%;
        margin: 0 10px;
    }
}

.wrapper {
    margin-top: $header-height;
}